.EventsPage {
  padding: 40px 0;
  height: 100%;
  position: relative;

  &__preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
