.RegistrationPage {
  height: 100%;
  position: relative;

  &__form {
    width: 500px;
    border: 1px solid #000;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__form-field {
    margin-bottom: 15px;
  }

  &__form-title {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
  }

  &__form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
