.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 1px;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }

  &__preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
