.CreateEventPage {
  padding: 40px 0;

  &__title {
    text-align: center;
  }

  &__form-field {
    margin-bottom: 15px;
  }

  &__form-row {
    display: flex;

    > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}
