.Header {
  background-color: darkblue;
  color: #fff;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  &__logo {

  }

  &__controls {
    display: flex;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
